<!DOCTYPE html>
<html>
  <head>
    <title>One</title>
    
    <% include include/game.ejs %>    
 
    <script>   
      
      function userScriptLoaded() {          
        createRandomMaze(16,8)            
        playerStepTaken (stepTaken)
      }
              
      document.addEventListener('DOMContentLoaded', function() {
        
        // Load the user script file
        loadUserScript('/js/step-taken.js')
        
      })    
    </script>
    
  </head>
  <body>
    <div id="game"></div>
  </body>
</html>
